# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Packaging
build/
dist/
*.spec

# Temp and Uploads
_uploads/
*.png
*.jpg
*.jpeg
*.gif

# Node.js
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Environment / IDE
.env
.env.*
.vscode/
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
